<div class="mt-2">
  <h2 class="text-center mb-3">Monitoreo Global</h2>

  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-3">
      <mat-card class="stat-card pt-2">
        <mat-card-content class="d-flex">
          <div class="flex-grow-1">
            <p class="mb-1 fw-bold">Lecturas OK</p>
            <h3 class="m-0">{{ readingsOkCount }}</h3>
          </div>

          <div class="d-flex flex-grow-1 align-items-end">
            <mat-icon class="stat-icon text-success overflow-visible mb-5"
              >check_circle</mat-icon
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-3">
      <mat-card class="stat-card pt-2">
        <mat-card-content class="d-flex">
          <div class="flex-grow-1">
            <p class="mb-1 fw-bold">Alertas Medias</p>
            <h3 class="m-0">{{ mediumAlertsCount }}</h3>
          </div>
          <div class="d-flex flex-grow-1 align-items-end">
            <mat-icon class="stat-icon text-warning overflow-visible mb-5"
              >warning</mat-icon
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-3">
      <mat-card class="stat-card pt-2">
        <mat-card-content class="d-flex">
          <div class="flex-grow-1">
            <p>Alertas Rojas</p>
            <h3>{{ redAlertsCount }}</h3>
          </div>
          <div class="d-flex flex-grow-1 align-items-end">
            <mat-icon class="stat-icon text-danger overflow-visible mb-5"
              >report</mat-icon
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-3">
      <mat-card class="stat-card pt-2">
        <mat-card-content class="d-flex">
          <div class="flex-grow-1">
            <p>Sensores Deshabilitados</p>
            <h3>3</h3>
          </div>
          <div class="d-flex flex-grow-1 align-items-end">
            <mat-icon class="stat-icon text-warning overflow-visible mb-5"
              >close</mat-icon
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="table-header-container">
    <h2 class="mb-0">Plantas</h2>

    <button mat-raised-button color="primary" class="ms-2" (click)="addPlant()">
      <mat-icon>add</mat-icon> Agregar Planta
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z3">
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>País</th>
      <td mat-cell *matCellDef="let plant">{{ plant.country }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Planta</th>
      <td mat-cell *matCellDef="let plant">{{ plant.name }}</td>
    </ng-container>

    <ng-container matColumnDef="readingsOk">
      <th mat-header-cell *matHeaderCellDef>Lecturas OK</th>
      <td mat-cell *matCellDef="let plant">{{ plant.readingsOk }}</td>
    </ng-container>

    <ng-container matColumnDef="mediumAlerts">
      <th mat-header-cell *matHeaderCellDef>Alertas Medias</th>
      <td mat-cell *matCellDef="let plant">{{ plant.mediumAlerts }}</td>
    </ng-container>

    <ng-container matColumnDef="redAlerts">
      <th mat-header-cell *matHeaderCellDef>Alertas Rojas</th>
      <td mat-cell *matCellDef="let plant">{{ plant.redAlerts }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let plant">
        <button mat-icon-button (click)="selectPlant(plant.id)">
          <mat-icon>{{
            selectedPlant.id === plant.id ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <button mat-icon-button (click)="editPlant(plant.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePlant(plant.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="[
        'country',
        'name',
        'readingsOk',
        'mediumAlerts',
        'redAlerts',
        'actions'
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: [
          'country',
          'name',
          'readingsOk',
          'mediumAlerts',
          'redAlerts',
          'actions'
        ]
      "
    ></tr>
  </table>
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>

  <!-- Monitoreo por Plantas -->
  <h2>Monitoreo por plantas</h2>
  @if (selectedPlant.id) {
  <div class="mt-4">
    <p class="plant-title text-secondary">
      {{ selectedPlant.country }} - {{ selectedPlant.name }}
    </p>

    <div class="row">
      @for (sensor of sensorStats; track sensor.id) {
      <div class="col-md-3 col-sm-6">
        <mat-card class="stat-card-bottom">
          <mat-card-content>
            <p class="sensor-title text-secondary">{{ sensor.sensorType }}</p>

            <div class="d-flex justify-content-around align-items-center mt-2">
              <div class="d-flex">
                <mat-icon class="text-success">check_circle</mat-icon>
                <p class="mx-2 pt-1">{{ sensor.readingsOk }}</p>
              </div>
              <div class="d-flex">
                <mat-icon class="text-warning">warning</mat-icon>
                <p class="mx-2 pt-1">{{ sensor.mediumAlerts }}</p>
              </div>
              <div class="d-flex">
                <mat-icon class="text-danger">report</mat-icon>
                <p class="mx-2 pt-1">{{ sensor.redAlerts }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      }
      @if (sensorStats.length === 0) {
      <div class="col-12">
        <mat-card class="empty-state-card">
          <mat-card-content>
            <h3 class="text-center">No hay sensores para esta planta</h3>
          </mat-card-content>
        </mat-card>
      </div>
      }
    </div>
  </div>

  } @else {
  <mat-card class="empty-state-card d-flex justify-content-center">
    <mat-card-content>
      <h3 class="text-center">
        Seleccione una planta de la tabla para mostrar los resultados
      </h3>
    </mat-card-content>
  </mat-card>

  }
</div>
